@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Hind:wght@400;500;700&family=Poppins:wght@400;500;600&family=Quicksand:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";

* {
  font-family: "Quicksand";
}

body {
  @apply dark:bg-black dark:text-white;
  background-color: #ecd7ec; /* Light Pink Background */
}

.gradient-circle {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  top: -30px;
  height: 40px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(40px);
  background: radial-gradient(
    circle,
    rgb(146, 72, 113) 0%,  /* Light Pink */
    rgba(161, 28, 94, 0.8) 100% /* Hot Pink */
  );
}

.gradient-circle-bottom {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  bottom: -20px;
  height: 30px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(40px);
  background: radial-gradient(
    circle,
    rgb(228, 95, 168) 0%,  /* Light Pink */
    rgba(187, 56, 122, 0.8) 100% /* Hot Pink */
  );
}

.gradient-shadow:hover::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #ca45ff 0%, #431526 100%);
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.gradient-shadow:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
